/* Light theme */
[data-md-color-scheme="default"] .md-header { background-color: #009688; }
[data-md-color-scheme="default"] .md-tabs { background-color: #00695c; }

/* Dark theme */
[data-md-color-scheme="slate"] .md-header { background-color: #004d40; }
[data-md-color-scheme="slate"] .md-tabs { background-color: #002f26; }
